<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <h1>Welcome to the clothing picker!</h1>
    <h3>This is a program designed to help you find clothing items</h3>
    <h3>based on your preferences!</h3>
    <h4>Fill out the survey, and we will do the rest!</h4>
    <button onclick="location.href='/survey'">Try it out!</button>
</body>
</html>