<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <h1>Clothing Selector</h1>
    <h2>We suggest</h2>
    <% for (let i = 0; i < displayItems.length; i++){ %>
        <a href="<%= displayItems[i].link %>">
            <img src="/imgs/<%= displayItems[i].img_name%>">
        </a>
        <label>$<%= displayItems[i].price_val %></label>
    <% } %>
</body>
</html>