body {
    text-align: center;
    font-size: 1.5em;
    height: 500px;
    margin: 150px auto;
}

button {
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    font-style: italic;
}