html {
    background-image: url("../../greenbg.jpg");
    /* background-color: rgb(111, 242, 201); */
}
body {
    font-family: 'Dosis';
    margin: auto;
    background-color: rgb(252, 249, 227);
    width: 1000px;
}

h1 {
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

