.question {
    display: block;
    white-space: pre-line;
    margin-top: 0px;

}

p {
    font-weight: bold;
    margin-top: 20px;
}

button {
    margin-top: 20px;
}

.question, p, button, h2 {
    justify-content: center;
    margin-left: 40px;
}