.question {
    display: block;
    white-space: pre-line;
    margin-top: 0px;
    padding-top: 0px;
    line-height: 0.75em;

}

input {
    margin: 4px;
}

p {
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 0px;
}

.question, p, button, h2 {
    justify-content: center;
    margin-left: 40px;
}