body {
    font-family: 'Dosis';
    text-align: center;
}

h1 {
    font-weight: bold;
    text-align: center;
}

.question {
    display: block;
    white-space: pre-line;
    margin-top: 0px;
}

label {
    font-weight: bold;
    white-space: none;
}

button {
    
}

